/build/
/CMakeFiles/
/.devcontainer/
/.vscode/
/bootloader/
/esp-idf/
/bootloader-prefix/
/components/lvgl/
build.ninja
app-flash_args
cmake_install.cmake
bootloader-flash_args
sdkconfig.ci
sdkconfig.old
dependencies.lock
example_test.py
compile_commands.json
config.env
lash_app_args
flash_args
flash_args.in
flash_app_args
flash_bootloader_args
flash_project_args
CMakeCache.txt
flasher_args.json
ldgen_libraries.in
kconfigs_projbuild.in
kconfigs.in
ldgen_libraries
otadata-flash_args
partition-table-flash_args
project_description.json